parameters:
	level: 6
	paths:
		- src/
	excludePaths:
		- src/Integration/Elementor/
		- src/CLI/
	scanFiles:
		- mhm-currency-switcher.php
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- phpstan-bootstrap.php
	ignoreErrors:
		-
			message: '#Access to an undefined property WooCommerce::\$payment_gateways#'
			path: src/Admin/Settings.php
		-
			message: '#Access to an undefined property object::#'
			path: src/Frontend/NavMenu.php
		-
			message: '#Constant DAY_IN_SECONDS not found#'
		-
			message: '#no value type specified in iterable type array#'
		-
			message: '#in empty\(\) always exists and is not falsy#'
		-
			message: '#is never read, only written#'
		-
			message: '#Right side of && is always true#'
